/*---------
 ULILITIES 
 ----------*/
body {
  font-family: "Poppins", sans-serif;
}

/*---------
 Navbar
 ----------*/

.dark-overlay {
  filter: brightness(50%);
}

.button-bg {
  background-color: #289bde;
}

/*---------
 COURSE Section
 ----------*/

.course-gap {
  max-width: 500px;
}

.course-img {
  height: 22vh;
}

.course-paragraph {
  height: 10vh;
}

/*---------
 EXPLORE Section
 ----------*/

.explore-bg {
  background-color: #f4fafd;
}

/*---------
 FOOTER
 ----------*/
.social-icons a .fab {
  margin: 4px;
}
footer a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

/* ==================
    Media-Query styles
 =======================*/

/*======= MOBILE========== */
@media only screen and (max-width: 688px) {
  .slider-paragraph {
    font-size: 12px;
  }
  .slider-heading {
    font-size: 15px;
  }
}
